.link a button i{
    font-size: 25px;
}
.card-footer{
    border: none;
    background: none;
}
.card{
    border-radius: 15px;
    /* box-shadow: 5px 5px 10px  gray; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    overflow: hidden;
    height: 480px;
}
.card:hover{
    transition: 1.3s;
    transform: scale(1.1);
}