/* 
.profile-img{
    height: 210px;
    width: 210px;
    border: 1px solid black;
    border-radius: 50%;
} */
.icon a i{
    font-size: 35px;
    color: #fff; 
    padding-right: 15px;
}
/* .info-portion{
   height: 500px;
} */